html {
  --background-color: #3c155666;
  --cell-color-on: #7a579cbf;
  --cell-color-off: #eee;
}

body {
  background: var(--background-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: auto;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat( 5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px; /* Adjust gap as needed */
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

.cell {
  background-color: var(--cell-color-off); /* Default cell color */
  border: 1px solid #ccc; /* Cell border */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.connected {
  background-color: var(--cell-color-on); /* Connected cell color */
}