.content {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  height: 70vh;
  padding: auto;
  margin: auto;
}

.number {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 5), 1fr);
  grid-template-rows: repeat(var(--rows, 7), 1fr);
  gap: 2px; /* Adjust gap as needed */
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

.cell {
  background-color: #eee; /* Default cell color */
  border: 1px solid #ccc; /* Cell border */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.connected {
  background-color: #b3e6ff; /* Connected cell color */
}